<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.write.house.HousingCostWriteDao">
  <resultMap id="HousingCostResult" type="com.ejavashop.entity.house.HousingCost">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="renovation_cost_sum" jdbcType="DECIMAL" property="renovationCostSum" />
    <result column="other_cost_sum" jdbcType="DECIMAL" property="otherCostSum" />
    <result column="day_rent_cost" jdbcType="DECIMAL" property="dayRentCost" />
    <result column="vacancy_days" jdbcType="INTEGER" property="vacancyDays" />
    <result column="vacancy_day" jdbcType="INTEGER" property="vacancyDay" />
    <result column="vacancy_fee_sumt" jdbcType="DECIMAL" property="vacancyFeeSumt" />
    <result column="prices_sum" jdbcType="DECIMAL" property="pricesSum" />
    <result column="all_cost_sum" jdbcType="DECIMAL" property="allCostSum" />
    <result column="last_sold_time" jdbcType="TIMESTAMP" property="lastSoldTime" />
    <result column="operation_name" jdbcType="VARCHAR" property="operationName" />
    <result column="operation_id" jdbcType="INTEGER" property="operationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, house_id, renovation_cost_sum, other_cost_sum, day_rent_cost, vacancy_days, vacancy_day, 
    vacancy_fee_sumt, prices_sum, all_cost_sum, last_sold_time, operation_name, operation_id, 
    remark, create_time, update_time
  </sql>
  
   	<select id="getHousingCostCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from housing_cost
		<include refid="getHousingCostListCondition" />
	</select>

	<select id="getHousingCostList" resultType="com.ejavashop.entity.house.HousingCost">
		select * from housing_cost
		<include refid="getHousingCostListCondition" />
		order by id desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
  <sql id="getHousingCostListCondition">
		<where>
		
			<if test="queryMap.q_roomCodeNo != null and queryMap.q_roomCodeNo != ''">
				and `room_code_no` like CONCAT('%',#{queryMap.q_roomCodeNo},'%')
			</if>

			<if test="queryMap.q_houseName != null and queryMap.q_houseName != ''">
				and `house_name` like CONCAT('%',#{queryMap.q_houseName},'%')
			</if>
			
	    	<if test="queryMap.q_sold_state != null and queryMap.q_sold_state != ''">
				and `is_sold` = #{queryMap.q_sold_state}
			</if>

			<if test="queryMap.q_used_state != null and queryMap.q_used_state != ''">
				and `status` = #{queryMap.q_used_state}
			</if> 
		</where>
	</sql>
  <select id="selectByHouseId" parameterType="java.lang.Integer" resultMap="HousingCostResult">
    select 
    <include refid="Base_Column_List" />
    from housing_cost
    where house_id = #{houseId,jdbcType=INTEGER}
  </select>
	
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="HousingCostResult">
    select 
    <include refid="Base_Column_List" />
    from housing_cost
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from housing_cost
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ejavashop.entity.house.HousingCost">
    insert into housing_cost (id, house_id, renovation_cost_sum, 
      other_cost_sum, day_rent_cost, vacancy_days, 
      vacancy_day, vacancy_fee_sumt, prices_sum, 
      all_cost_sum, last_sold_time, operation_name, 
      operation_id, remark, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, #{renovationCostSum,jdbcType=DECIMAL}, 
      #{otherCostSum,jdbcType=DECIMAL}, #{dayRentCost,jdbcType=DECIMAL}, #{vacancyDays,jdbcType=INTEGER}, 
      #{vacancyDay,jdbcType=INTEGER}, #{vacancyFeeSumt,jdbcType=DECIMAL}, #{pricesSum,jdbcType=DECIMAL}, 
      #{allCostSum,jdbcType=DECIMAL}, #{lastSoldTime,jdbcType=TIMESTAMP}, #{operationName,jdbcType=VARCHAR}, 
      #{operationId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ejavashop.entity.house.HousingCost">
    insert into housing_cost
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="renovationCostSum != null">
        renovation_cost_sum,
      </if>
      <if test="otherCostSum != null">
        other_cost_sum,
      </if>
      <if test="dayRentCost != null">
        day_rent_cost,
      </if>
      <if test="vacancyDays != null">
        vacancy_days,
      </if>
      <if test="vacancyDay != null">
        vacancy_day,
      </if>
      <if test="vacancyFeeSumt != null">
        vacancy_fee_sumt,
      </if>
      <if test="pricesSum != null">
        prices_sum,
      </if>
      <if test="allCostSum != null">
        all_cost_sum,
      </if>
      <if test="lastSoldTime != null">
        last_sold_time,
      </if>
      <if test="operationName != null">
        operation_name,
      </if>
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="renovationCostSum != null">
        #{renovationCostSum,jdbcType=DECIMAL},
      </if>
      <if test="otherCostSum != null">
        #{otherCostSum,jdbcType=DECIMAL},
      </if>
      <if test="dayRentCost != null">
        #{dayRentCost,jdbcType=DECIMAL},
      </if>
      <if test="vacancyDays != null">
        #{vacancyDays,jdbcType=INTEGER},
      </if>
      <if test="vacancyDay != null">
        #{vacancyDay,jdbcType=INTEGER},
      </if>
      <if test="vacancyFeeSumt != null">
        #{vacancyFeeSumt,jdbcType=DECIMAL},
      </if>
      <if test="pricesSum != null">
        #{pricesSum,jdbcType=DECIMAL},
      </if>
      <if test="allCostSum != null">
        #{allCostSum,jdbcType=DECIMAL},
      </if>
      <if test="lastSoldTime != null">
        #{lastSoldTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationName != null">
        #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null">
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ejavashop.entity.house.HousingCost">
    update housing_cost
    <set>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="renovationCostSum != null">
        renovation_cost_sum = #{renovationCostSum,jdbcType=DECIMAL},
      </if>
      <if test="otherCostSum != null">
        other_cost_sum = #{otherCostSum,jdbcType=DECIMAL},
      </if>
      <if test="dayRentCost != null">
        day_rent_cost = #{dayRentCost,jdbcType=DECIMAL},
      </if>
      <if test="vacancyDays != null">
        vacancy_days = #{vacancyDays,jdbcType=INTEGER},
      </if>
      <if test="vacancyDay != null">
        vacancy_day = #{vacancyDay,jdbcType=INTEGER},
      </if>
      <if test="vacancyFeeSumt != null">
        vacancy_fee_sumt = #{vacancyFeeSumt,jdbcType=DECIMAL},
      </if>
      <if test="pricesSum != null">
        prices_sum = #{pricesSum,jdbcType=DECIMAL},
      </if>
      <if test="allCostSum != null">
        all_cost_sum = #{allCostSum,jdbcType=DECIMAL},
      </if>
      <if test="lastSoldTime != null">
        last_sold_time = #{lastSoldTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationName != null">
        operation_name = #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null">
        operation_id = #{operationId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ejavashop.entity.house.HousingCost">
    update housing_cost
    set house_id = #{houseId,jdbcType=INTEGER},
      renovation_cost_sum = #{renovationCostSum,jdbcType=DECIMAL},
      other_cost_sum = #{otherCostSum,jdbcType=DECIMAL},
      day_rent_cost = #{dayRentCost,jdbcType=DECIMAL},
      vacancy_days = #{vacancyDays,jdbcType=INTEGER},
      vacancy_day = #{vacancyDay,jdbcType=INTEGER},
      vacancy_fee_sumt = #{vacancyFeeSumt,jdbcType=DECIMAL},
      prices_sum = #{pricesSum,jdbcType=DECIMAL},
      all_cost_sum = #{allCostSum,jdbcType=DECIMAL},
      last_sold_time = #{lastSoldTime,jdbcType=TIMESTAMP},
      operation_name = #{operationName,jdbcType=VARCHAR},
      operation_id = #{operationId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>