<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.read.house.HousingLeaseReadDao">
  <resultMap id="HousingLeaseResult" type="com.ejavashop.entity.house.HousingLease">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="room_code_no" jdbcType="VARCHAR" property="roomCodeNo" />
    <result column="lease_start_time" jdbcType="TIMESTAMP" property="leaseStartTime" />
    <result column="lease_end_time" jdbcType="TIMESTAMP" property="leaseEndTime" />
    <result column="rent" jdbcType="DECIMAL" property="rent" />
    <result column="all_rent" jdbcType="DECIMAL" property="allRent" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="pay_way" jdbcType="INTEGER" property="payWay" />
    <result column="seller" jdbcType="VARCHAR" property="seller" />
    <result column="contract" jdbcType="VARCHAR" property="contract" />
    <result column="operation_name" jdbcType="VARCHAR" property="operationName" />
    <result column="operation_id" jdbcType="INTEGER" property="operationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="day_rent_cost" jdbcType="DECIMAL" property="dayRentCost" />
    <result column="day_rent_income" jdbcType="DECIMAL" property="dayRentIncome" />
    <result column="gross_profit" jdbcType="DECIMAL" property="grossProfit" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    
    <result column="rent_income_again" jdbcType="DECIMAL" property="rentIncomeAgain" />
    <result column="return_rent_cost" jdbcType="DECIMAL" property="returnRentCost" />
    <result column="final_leave_time" jdbcType="TIMESTAMP" property="finalLeaveTime" />
  

  </resultMap>
 
    <select id="getHousingLeaseCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from housing_lease
		<include refid="getHousingLeaseListCondition" />
	</select>
      
      
    <select id="getHousingLeaseSum"  parameterType="java.lang.Integer" resultType="com.ejavashop.entity.house.HousingLease">

		  select t.all_rent ,t.gross_profit from housing_lease  t
          where t.house_id = #{houseId,jdbcType=INTEGER}
         
	</select>

	<select id="getHousingLeaseList" resultType="com.ejavashop.entity.house.HousingLease">
		select * from housing_lease
		<include refid="getHousingLeaseListCondition" />
		order by id desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
  <sql id="getHousingLeaseListCondition">
		<where>
		
			<if test="queryMap.q_roomCodeNo != null and queryMap.q_roomCodeNo != ''">
				and `room_code_no` like CONCAT('%',#{queryMap.q_roomCodeNo},'%')
			</if>

			<if test="queryMap.q_id != null and queryMap.q_id != ''">
				and `id` like CONCAT('%',#{queryMap.q_id},'%')
			</if>

		    <if test="queryMap.q_pay_way != null and queryMap.q_pay_way != ''">
				and `pay_way` =#{queryMap.q_pay_way}
			</if>
		    <if test="queryMap.q_lease_state != null and queryMap.q_lease_state != ''">
				and `status` =#{queryMap.q_lease_state}
			</if>
		</where>
	</sql>
	

   
  <sql id="Base_Column_List"> 
    id, house_id, room_code_no,lease_start_time, lease_end_time, rent, all_rent, status, pay_way, 
    seller, contract, operation_name, operation_id, remark, day_rent_cost, day_rent_income, 
    gross_profit,rent_income_again, return_rent_cost,final_leave_time,create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="HousingLeaseResult">
    select 
    <include refid="Base_Column_List" />
    from housing_lease
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from housing_lease
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ejavashop.entity.house.HousingLease">
    insert into housing_lease (id, house_id, room_code_no,lease_start_time, 
      lease_end_time, rent, all_rent, 
      status, pay_way, seller, 
      contract, operation_name, operation_id, 
      remark, day_rent_cost, day_rent_income, 
      gross_profit, rent_income_again, return_rent_cost,final_leave_time, create_time, update_time
      )    
    values (#{id,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, #{roomCodeNo,jdbcType=VARCHAR},#{leaseStartTime,jdbcType=TIMESTAMP}, 
      #{leaseEndTime,jdbcType=TIMESTAMP}, #{rent,jdbcType=DECIMAL}, #{allRent,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{payWay,jdbcType=INTEGER}, #{seller,jdbcType=VARCHAR}, 
      #{contract,jdbcType=VARCHAR}, #{operationName,jdbcType=VARCHAR}, #{operationId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{dayRentCost,jdbcType=DECIMAL}, #{dayRentIncome,jdbcType=DECIMAL}, 
      #{grossProfit,jdbcType=DECIMAL},#{rentIncomeAgain,jdbcType=DECIMAL},#{returnRentCost,jdbcType=DECIMAL}, 
      #{finalLeaveTime,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      ) 
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.ejavashop.entity.house.HousingLease">
    insert into housing_lease
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="roomCodeNo != null">
        room_code_no,
      </if>
      
      <if test="leaseStartTime != null">
        lease_start_time,
      </if>
      <if test="leaseEndTime != null">
        lease_end_time,
      </if>
      <if test="rent != null">
        rent,
      </if>
      <if test="allRent != null">
        all_rent,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="payWay != null">
        pay_way,
      </if>
      <if test="seller != null">
        seller,
      </if>
      <if test="contract != null">
        contract,
      </if>
      <if test="operationName != null">
        operation_name,
      </if>
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="dayRentCost != null">
        day_rent_cost,
      </if>
      <if test="dayRentIncome != null">
        day_rent_income,
      </if>
      <if test="grossProfit != null">
        gross_profit,
      </if>
      <if test="rentIncomeAgain != null">
        rent_income_again,
      </if>
      <if test="returnRentCost != null">
        return_rent_cost,
      </if>
      <if test="finalLeaveTime != null">
        final_leave_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="roomCodeNo != null">
        #{roomCodeNo,jdbcType=VARCHAR},
      </if>
      
      <if test="leaseStartTime != null">
        #{leaseStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaseEndTime != null">
        #{leaseEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rent != null">
        #{rent,jdbcType=DECIMAL},
      </if>
      <if test="allRent != null">
        #{allRent,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="payWay != null">
        #{payWay,jdbcType=INTEGER},
      </if>
      <if test="seller != null">
        #{seller,jdbcType=VARCHAR},
      </if>
      <if test="contract != null">
        #{contract,jdbcType=VARCHAR},
      </if>
      <if test="operationName != null">
        #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null">
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="dayRentCost != null">
        #{dayRentCost,jdbcType=DECIMAL},
      </if>
      <if test="dayRentIncome != null">
        #{dayRentIncome,jdbcType=DECIMAL},
      </if>
      <if test="grossProfit != null">
        #{grossProfit,jdbcType=DECIMAL},
      </if>
      
      <if test="rentIncomeAgain != null">
        #{rentIncomeAgain,jdbcType=DECIMAL},
      </if>
      <if test="returnRentCost != null">
        #{returnRentCost,jdbcType=DECIMAL},
      </if>
      <if test="finalLeaveTime != null">
        #{finalLeaveTime,jdbcType=TIMESTAMP},
      </if>
      
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      

        
        
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ejavashop.entity.house.HousingLease">
    update housing_lease
    <set>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="roomCodeNo != null">
        room_code_no = #{roomCodeNo,jdbcType=VARCHAR},
      </if>

      <if test="leaseStartTime != null">
        lease_start_time = #{leaseStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaseEndTime != null">
        lease_end_time = #{leaseEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rent != null">
        rent = #{rent,jdbcType=DECIMAL},
      </if>
      <if test="allRent != null">
        all_rent = #{allRent,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="payWay != null">
        pay_way = #{payWay,jdbcType=INTEGER},
      </if>
      <if test="seller != null">
        seller = #{seller,jdbcType=VARCHAR},
      </if>
      <if test="contract != null">
        contract = #{contract,jdbcType=VARCHAR},
      </if>
      <if test="operationName != null">
        operation_name = #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null">
        operation_id = #{operationId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="dayRentCost != null">
        day_rent_cost = #{dayRentCost,jdbcType=DECIMAL},
      </if>
      <if test="dayRentIncome != null">
        day_rent_income = #{dayRentIncome,jdbcType=DECIMAL},
      </if>
      <if test="grossProfit != null">
        gross_profit = #{grossProfit,jdbcType=DECIMAL},
      </if>
      
      <if test="rentIncomeAgain != null">
        rent_income_again = #{rentIncomeAgain,jdbcType=DECIMAL},
      </if>
      <if test="returnRentCost != null">
        return_rent_cost = #{returnRentCost,jdbcType=DECIMAL},
      </if>
      <if test="finalLeaveTime != null">
        final_leave_time = #{finalLeaveTime,jdbcType=TIMESTAMP},
      </if>      
      
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ejavashop.entity.house.HousingLease">
    update housing_lease
    set house_id = #{houseId,jdbcType=INTEGER},
          room_code_no =  #{roomCodeNo,jdbcType=VARCHAR},      
      lease_start_time = #{leaseStartTime,jdbcType=TIMESTAMP},
      lease_end_time = #{leaseEndTime,jdbcType=TIMESTAMP},
      rent = #{rent,jdbcType=DECIMAL},
      all_rent = #{allRent,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      pay_way = #{payWay,jdbcType=INTEGER},
      seller = #{seller,jdbcType=VARCHAR},
      contract = #{contract,jdbcType=VARCHAR},
      operation_name = #{operationName,jdbcType=VARCHAR},
      operation_id = #{operationId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      day_rent_cost = #{dayRentCost,jdbcType=DECIMAL},
      day_rent_income = #{dayRentIncome,jdbcType=DECIMAL},
      gross_profit = #{grossProfit,jdbcType=DECIMAL},
      rent_income_again=#{rentIncomeAgain,jdbcType=DECIMAL},
      return_rent_cost=#{returnRentCost,jdbcType=DECIMAL},
      final_leave_time= #{finalLeaveTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>