<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.read.house.HousingCostDetailReadDao">
  <resultMap id="HousingCostDetailResult" type="com.ejavashop.entity.house.HousingCostDetail">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="cost_id" jdbcType="INTEGER" property="costId" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="cost_type" jdbcType="INTEGER" property="costType" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="operation_name" jdbcType="VARCHAR" property="operationName" />
    <result column="operation_id" jdbcType="INTEGER" property="operationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cost_id, house_id, cost_type, money, operation_name, operation_id, remark, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="HousingCostDetailResult">
    select 
    <include refid="Base_Column_List" />
    from housing_cost_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from housing_cost_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ejavashop.entity.house.HousingCostDetail">
    insert into housing_cost_detail (id, cost_id, house_id, 
      cost_type, money, operation_name, 
      operation_id, remark, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{costId,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, 
      #{costType,jdbcType=INTEGER}, #{money,jdbcType=DECIMAL}, #{operationName,jdbcType=VARCHAR}, 
      #{operationId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ejavashop.entity.house.HousingCostDetail">
    insert into housing_cost_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="costId != null">
        cost_id,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="costType != null">
        cost_type,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="operationName != null">
        operation_name,
      </if>
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="costId != null">
        #{costId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="costType != null">
        #{costType,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="operationName != null">
        #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null">
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ejavashop.entity.house.HousingCostDetail">
    update housing_cost_detail
    <set>
      <if test="costId != null">
        cost_id = #{costId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="costType != null">
        cost_type = #{costType,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="operationName != null">
        operation_name = #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null">
        operation_id = #{operationId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ejavashop.entity.house.HousingCostDetail">
    update housing_cost_detail
    set cost_id = #{costId,jdbcType=INTEGER},
      house_id = #{houseId,jdbcType=INTEGER},
      cost_type = #{costType,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      operation_name = #{operationName,jdbcType=VARCHAR},
      operation_id = #{operationId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>