<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="adminJob" class="com.ejavashop.job.AdminJob"/>
    
    <!-- 每月结算任务 -->
    <bean id="jobSettlement" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="adminJob"/>
        <property name="targetMethod" value="jobSettlement"/>
    </bean>
    <bean id="jobSettlementTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobSettlement"/>
        </property>
        <property name="cronExpression">
            <value>0 15 0 16 * ?</value>
            <!-- <value>0 0/1 * * * ?</value> -->
        </property>
    </bean>
    
    <!-- 系统完成订单任务 -->
    <bean id="jobSystemFinishOrder" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="adminJob"/>
        <property name="targetMethod" value="jobSystemFinishOrder"/>
    </bean>
    <bean id="jobSystemFinishOrderTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobSystemFinishOrder"/>
        </property>
        <property name="cronExpression">
            <value>0 0/10 * * * ?</value>
        </property>
    </bean>
    
    <!-- 系统清理购物车任务 -->
    <bean id="jobClearCart" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="adminJob"/>
        <property name="targetMethod" value="jobClearCart"/>
    </bean>
    <bean id="jobClearCartTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobClearCart"/>
        </property>
        <property name="cronExpression">
            <value>0 10 2 * * ?</value>
        </property>
    </bean>
    
    <!-- 系统生成Solr索引 -->
    <bean id="jobSearchSolr" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="adminJob"/>
        <property name="targetMethod" value="jobSearchSolr"/>
    </bean>
    <bean id="jobSearchSolrTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobSearchSolr"/>
        </property>
        <property name="cronExpression">
            <value>0 0/10 * * * ?</value>
        </property>
    </bean>
    
    <!-- 更新敏感词的索引值 -->
    <bean id="jobUpdateSearchRecordIndex" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="adminJob"/>
        <property name="targetMethod" value="jobUpdateSearchRecordIndex"/>
    </bean>
    <bean id="jobUpdateSearchRecordIndexTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobUpdateSearchRecordIndex"/>
        </property>
        <property name="cronExpression">
            <value>0 0 5 * * ?</value>
        </property>
    </bean>
    
    <!-- 定时任务设定商家的评分任务 -->
    <bean id="jobSetSellerScore" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="adminJob"/>
        <property name="targetMethod" value="jobSetSellerScore"/>
    </bean>
    <bean id="jobSetSellerScoreTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobSetSellerScore"/>
        </property>
        <property name="cronExpression">
            <value>0 15 0 * * ?</value>
        </property>
    </bean>
    
    <!-- 定时任务系统自动取消24小时没有付款订单 -->
    <bean id="jobSystemCancelOrder" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="adminJob"/>
        <property name="targetMethod" value="jobSystemCancelOrder"/>
    </bean>
    <bean id="jobSystemCancelOrderTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobSystemCancelOrder"/>
        </property>
        <property name="cronExpression">
            <value>0 5/10 * * * ?</value>
        </property>
    </bean>
    
    <!-- 定时任务设定商家各项统计数据 -->
    <bean id="jobSellerStatistics" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="adminJob"/>
        <property name="targetMethod" value="jobSellerStatistics"/>
    </bean>
    <bean id="jobSellerStatisticsTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobSellerStatistics"/>
        </property>
        <property name="cronExpression">
            <value>0 0/1 * * * ?</value>
        </property>
    </bean>

    <bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
          <!--      <ref bean="jobSettlementTrigger"/>-->
                <ref bean="jobSystemFinishOrderTrigger"/>
                <ref bean="jobClearCartTrigger"/>
          <!--      <ref bean="jobSearchSolrTrigger"/>-->
                <ref bean="jobSetSellerScoreTrigger"/>
                <ref bean="jobSystemCancelOrderTrigger"/>
                <ref bean="jobSellerStatisticsTrigger"/>
           <!--      <ref bean="jobUpdateSearchRecordIndexTrigger"/>-->
            </list>
        </property>
        <property name="taskExecutor" ref="executor"/>
    </bean>
    <bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="10"/>
        <property name="maxPoolSize" value="100"/>
        <property name="queueCapacity" value="500"/>
    </bean>
</beans>